<div class="container">
      <span class='card'><%= @card.prompt %></span>
      <form action='/rounds/<%= @deck.id %>/<%= @card.id %>' method='post'>
        <input type="text" name="form[response]">
        <input type='hidden' name="form[card_id]" value="<%= @card.id %>">
        <input type='hidden' name="form[round_id]" value="<%= @round.id %>">
        <input type="submit" >
      </form>
      <span class='card'><%= @card.solution %></span>
</div>

<a href='/decks'>SELECT NEW DECK</a>
<a href='/rounds/<%= @round.id %>/results'>ROUND RESULTS</a>

