<div class="container">
      <div class='round-name'><h1><%= @deck.name %></h1></div>
      <div class='card-div'><span class='card'><%= @card.prompt %></span></div>
      <form action='/rounds/<%= @deck.id %>/<%= @round.id %>' method='post'>
        <input type="text" id="response-box" name="form[response]" required=true autofocus>
        <input type='hidden' name="form[card_id]" value="<%= @card.id %>">
        <input type='hidden' name="form[round_id]" value="<%= @round.id %>">
        <button class='btn' type="submit" >SUBMIT</button>
      </form>

      <li><a href='/rounds/<%= @round.id %>/results'><span class="fui-list"></span>results</a></li>
</div>

<!--select new deck is redundant-->
<!--<a href='/decks'>SELECT NEW DECK</a>-->


